In [1]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv("Mobile_phones.csv")
df2 = pd.read_csv("Head_phones.csv")
df3 = pd.read_csv("grooming_accesories.csv")
df4 = pd.read_csv("Computer_accesories.csv")
df5 = pd.read_csv("Electronic_accesories.csv")

In [7]:
df1["categories"]='Mobile_phones'
df2["categories"]='Headphones'
df3["categories"]='grooming_accesories'
df4["categories"]='Computer_Accesories'
df5["categories"]='Electronic_Accesories'

In [13]:
df1.head()

,Name,price,Discount,Unnamed: 3,categories
0,OPPO F19 6 GB 128 GB Prism Black,19490.0,-7%,NaN,Mobile_phones
1,OPPO A54 4 GB 64 GB Crystal Black,14178.0,-5%,NaN,Mobile_phones
2,Redmi 9 4 GB 64 GB Sky Blue,10449.0,-5%,NaN,Mobile_phones
3,Vivo Y20i 3 GB 64 GB Nebula Blue,11490.0,-26%,NaN,Mobile_phones
4,OPPO A54 6 GB 128 GB Crystal Black,16990.0,-6%,NaN,Mobile_phones

In [15]:
df1.drop(["Unnamed: 3"], inplace=True, axis=1)

In [16]:
df1.head()

                                 Name    price  Discount      categories
0    OPPO F19 6 GB 128 GB Prism Black  19490.0        -7%  Mobile_phones
1   OPPO A54 4 GB 64 GB Crystal Black  14178.0        -5%  Mobile_phones
2         Redmi 9 4 GB 64 GB Sky Blue  10449.0        -5%  Mobile_phones
3    Vivo Y20i 3 GB 64 GB Nebula Blue  11490.0       -26%  Mobile_phones
4  OPPO A54 6 GB 128 GB Crystal Black  16990.0        -6%  Mobile_phones

In [25]:
df= pd.concat([df1,df2,df3,df4,df5],axis=0)

In [26]:
df.shape

(161, 4)

In [27]:
df.to_csv("Final_data_to_analyze.csv", index=False)